
@font-face {
    font-family:'Helvetica Neue';
    src: url('../fonts/Helvetica Neue.eot');
	  src: local('HelveticaNeue'), local(Helvetica Neue),
		url('../fonts/Helvetica Neue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Helvetica Neue.woff2') format('woff2'),
		url('../fonts/Helvetica Neue.woff') format('woff'),
		url('../fonts/Helvetica Neue.svg#Helvetica Neue') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Helvetica Neue';
    src: url('../fonts/Helvetica Neue Light.eot');
	  src: local('HelveticaNeue-Light'), local(Helvetica Neue Light),
		url('../fonts/Helvetica Neue Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Helvetica Neue Light.woff2') format('woff2'),
		url('../fonts/Helvetica Neue Light.woff') format('woff'),
		url('../fonts/Helvetica Neue Light.svg#Helvetica Neue Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Helvetica Neue';
    src: url('../fonts/Helvetica Neue Medium.eot');
	  src: local('HelveticaNeue-Medium'), local(Helvetica Neue Medium),
		url('../fonts/Helvetica Neue Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Helvetica Neue Medium.woff2') format('woff2'),
		url('../fonts/Helvetica Neue Medium.woff') format('woff'),
		url('../fonts/Helvetica Neue Medium.svg#Helvetica Neue Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Helvetica Neue';
    src: url('../fonts/Helvetica Neue UltraLight.eot');
	  src: local('HelveticaNeue-UltraLight'), local(Helvetica Neue UltraLight),
		url('../fonts/Helvetica Neue UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Helvetica Neue UltraLight.woff2') format('woff2'),
		url('../fonts/Helvetica Neue UltraLight.woff') format('woff'),
		url('../fonts/Helvetica Neue UltraLight.svg#Helvetica Neue UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}
